.wrapper {
    margin: 0 auto;
    display: flex;
    width: 1800px;
    background-color: rgb(218, 215, 212);
}

.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.item_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 24px;
}

.item_img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.price_counting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: greenyellow;
    margin-right: 20px;
}

.old_price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: line-through;
    color: rgb(115, 116, 113);
}

.product_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}